body{
	background: whitesmoke;
	font-family: arial;
}

h2{color: #222;
}

a {
	color: blue;
}

li{
	background: lightgray;
	color: white;
	padding: 10px;
}


.sec{
background: black;
color: red;
text-align: center;
font-size: 2.5em;

}