html {
	margin-left: 5%;
	margin-right: 5%;
	background-color: antiquewhite;
}



body{
	background: whitesmoke;
	font-family: arial;
}

h2{color: #222;
}

a {
	color: blue;
}

li{
	background: lightgray;
	color: white;
	padding: 10px;
}


.sec{
background: black;
color: red;
text-align: center;
font-size: 2.5em;
margin:  0 10% 0 20%;


}

#HCB_comment_box {
	margin-right: 70%;
	border: 3px solid lightblue;
}